@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}

.row {
  margin: 0px;
}

.btn-primary {
  background: #b32828 !important;
  border-color: #b32828 !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:after,
.btn-primary:active:after {
  background: rgb(211, 65, 65) !important;
  border-color: rgb(211, 65, 65) !important;
}

/* .row {
    margin-right: 0px;
    margin-left: 0px;
} */

/* HEADER - PRIMARY NAVIGATION */

.primary-navigation {
  /* height: 70px; */
  background: #c02931;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  padding-bottom: 10px;
}

.logo-header {
  width: 170px;
  height: 43px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

.menu-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
  margin-top: 25px;
}

a.deco-none {
  color: #ffffff !important;
  text-decoration: none;
}

/* HOME */

.pink-bg {
  background: #ffa3a3;
}

.main-text {
  margin-top: 20vh;
  margin-left: 5%;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.second-text-group {
  margin-left: 5%;
}

.second-text {
  font-style: normal;
  font-size: 28px;
  line-height: 33px;
}

.luggage {
  z-index: 1;
}

.backpack {
  /* position: absolute;
  left: 170px;
  top: 90px;
  z-index: 0;
  width: 50%; */
  margin-top: 90px;
  margin-left: -210px;  
}

.luggage {
  /* position: absolute;
  left: 30px;
  top: 10px;
  z-index: 0;
  width: 50%; */
}

/* CATALOG */

.search-nav {
  /* width: 90%; */
  margin: 50px auto 50px auto;
  /* height: 50px; */

  background: #ffffff;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.search-btn {
  width: 100%;
}

.item-box {
  /* width: 202px; */
  /* height: 353px; */
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.item-img {
  width: 80%;
}

.img-box {
  background: linear-gradient(180deg, #ffdada 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 10px;
}

.item-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
}

.item-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #8c2020;
}

.or {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6a6a6a;
}

/* FOOTER */

footer {
  background: #ffeded;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
