.section1-bg {
    background: linear-gradient(90deg, #0D17F3 0%, #0066FF 100%);
    padding-bottom: 30px;
}

.main-text {
    margin-top: 20vh;
    margin-left: 5%;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff !important;
}

.second-text-group {
    margin-left: 5%;
    color: #ffffff !important;
}

.second-text {
    font-style: normal;
    font-size: 28px;
    line-height: 33px;
    color: #ffffff !important;
}

.luggage {
    z-index: 1;
}

.backpack {
    margin-top: 90px;
    margin-left: -210px;
    width: 30vw;
}

.luggage {
    width: 30vw;
}

@media screen and (max-width: 990px) {
    .luggage {
        margin: 0;
        width: 40vw;
    }

    .backpack {
        margin-left: -20vw;
        width: 40vw;
    }
}