.primary-navigation {
  background: linear-gradient(90deg, #0D17F3 0%, #0066FF 100%);
  z-index: 10;
  padding-bottom: 10px;
}

.logo-header {
  width: 170px;
  height: 43px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

.nav-menu {
  letter-spacing: 0.05em;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.nav-dropdown-custom {
  right: 20px;
}

.fcolor-white {
  color: #ffffff !important;
}

a.deco-none {
  text-decoration: none;
}
